#iso_page {
    height: auto;
    width: 100%;
    margin: 80px 0 0;

    background: #fafffe;

    .title_section {
        height: 400px;

        background:
            linear-gradient(45deg, rgba(83, 117, 113, 0.85), rgba(165, 203, 198, 0.85)),
            url("../../imgs/background/title07.jpg");
        background-size: cover;
        background-position: center;
    }

    &.quality_page {
        .title_section {
            background:
                linear-gradient(45deg, rgba(83, 117, 113, 0.85), rgba(165, 203, 198, 0.85)),
                url("../../imgs/background/title07.jpg");
            background-size: cover;
            background-position: center;
        }
    }

    &.environment_page {
        .title_section {
            background:
                linear-gradient(45deg, rgba(83, 117, 113, 0.85), rgba(165, 203, 198, 0.85)),
                url("../../imgs/background/title08.jpg");
            background-size: cover;
            background-position: center;
        }
    }

    &.safe_page {
        .title_section {
            background:
                linear-gradient(45deg, rgba(83, 117, 113, 0.85), rgba(165, 203, 198, 0.85)),
                url("../../imgs/background/title09.jpg");
            background-size: cover;
            background-position: center;
        }
    }

    &:has(.ce_page) {
        .title_section {
            background:
                linear-gradient(45deg, rgba(83, 117, 113, 0.85), rgba(165, 203, 198, 0.85)),
                url("../../imgs/background/title10.jpg");
            background-size: cover;
            background-position: center;
        }
    }

    &:has(.ul_page) {
        .title_section {
            background:
                linear-gradient(45deg, rgba(83, 117, 113, 0.85), rgba(165, 203, 198, 0.85)),
                url("../../imgs/background/title11.jpg");
            background-size: cover;
            background-position: center;
        }
    }
}