#main_page {
    width: 100%;
    margin: 80px 0 0;

    .main_section {
        width: 100%;
        height: 800px;

        animation-name: backgrounds;
        animation-iteration-count: infinite;
        animation-duration: 30s;

        .main_main {
            height: 100%;
            display: flex;
            align-items: center;

            .slogan_section {
                width: 900px;
                height: 600px;

                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: end;

                border-right: solid 4px #fff;

                .slogan {
                    line-height: 150px;
                    padding: 0 40px 0 0;

                    color: transparent;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: #fff;
                    font-size: 140px;
                    font-weight: 700;
                    text-align: center;
                }

                .emph {
                    color: #fff;
                }
            }

            .button_section {
                width: 480px;
                height: 600px;

                border-bottom: solid 1px #fff;

                display: flex;
                flex-direction: column;
                justify-content: end;


                .button_tab {
                    width: 100%;
                    height: 200px;

                    border-top: solid 1px #fff;
                    border-right: solid 1px #fff;

                    display: flex;
                    align-items: center;

                    transition: all 0.2s;
                    cursor: pointer;

                    .btn_icon {
                        width: 60px;
                        height: 60px;
                        margin: 0 30px;

                        color: #fff;
                    }

                    .btn_text {
                        font-size: 40px;
                        font-weight: 700;

                        color: #fff;

                        text-align: center;
                    }

                    &:hover {
                        background: rgba(255, 255, 255, 0.1);
                        backdrop-filter: blur(10px);
                    }
                }
            }
        }
    }

    .trust_section {
        width: 100%;
        height: auto;
        background:
                linear-gradient(45deg, rgba(83, 117, 113, 0.85), rgba(165, 203, 198, 0.85)),
                url("../../imgs/background/title01.jpg");
        background-size: cover;
        background-position: center;

        .trust_main {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 40px 0 40px;

            .title {
                font-size: 60px;
                font-weight: 900;
                color: #537571;
            }

            .desc {
                font-size: 20px;
                font-weight: 700;
                color: #3c3c3c;
                text-align: center;
            }

            .trust_list {
                width: 100%;
                height: auto;
                margin-top: 20px;

                display: grid;
                column-gap: 60px;
                row-gap: 20px;

                .trust_div {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .trust_img {
                        width: 150px;
                        height: 50px;
                    }
                }

                &.grid_1 {
                    grid-template-columns: repeat(1, 1fr);
                }

                &.grid_2 {
                    grid-template-columns: repeat(2, 1fr);
                }

                &.grid_3 {
                    grid-template-columns: repeat(3, 1fr);
                }

                &.grid_4 {
                    grid-template-columns: repeat(4, 1fr);
                }

                &.grid_5 {
                    grid-template-columns: repeat(5, 1fr);
                }
            }
        }
    }
}

@keyframes backgrounds {
    0% {
        background: url("../../imgs/background/main_background_01.png");
        background-size: cover;
        background-position: center;
    }

    25% {
        background: url("../../imgs/background/main_background_02.png");
        background-size: cover;
        background-position: center;
    }

    50% {
        background: url("../../imgs/background/main_background_03.png");
        background-size: cover;
        background-position: center;
    }

    75% {
        background: url("../../imgs/background/main_background_04.png");
        background-size: cover;
        background-position: center;
    }

    100% {
        background: url("../../imgs/background/main_background_01.png");
        background-size: cover;
        background-position: center;
    }
}