#overview_page {
    width: 100%;
    margin: 80px 0 0;

    background: #fafffe;

    .title_section {
        height: 400px;

        background:
            linear-gradient(45deg, rgba(83, 117, 113, 0.85), rgba(165, 203, 198, 0.85)),
            url("../../imgs/background/title03.jpg");
        background-size: cover;
        background-position: 50% 40%;
    }

    .overview_main {
        .content_box {
            .content_box_content {
                .content_text {
                    font-weight: 400;
                }

                .text_title {
                    font-size: 34px;
                    font-weight: 700;
                }

                .text_desc {
                    font-size: 24px;
                    font-weight: 500;
                }

                &.sect_point {
                    width: 620px;
                    background: transparent;
                }
            }
        }

        .ceo {
            display: flex;
            justify-content: start;
            align-items: center;

            .exit {
                width: 120px;
                height: 60px;
            }
        }
    }
}