.overview_main {
    .fw-500 {
        font-weight: 500;
    }

    .ceo {
        display: flex;
        justify-content: start;
        align-items: center;

        .exit {
            width: 80px;
            height: 80px;

            bottom: -30px;
            right: -80px;
        }
    }
}