.overview_main {
    .fw-500 {
        font-weight: 500;
    }

    .ceo {
        display: flex;
        justify-content: start;
        align-items: center;

        .exit {
            width: 100px;
            height: 60px;
        }
    }
}