.active_button {
    padding: 10px 30px;
    margin: 5px;

    transition: all 0.2s;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    .button_text {
        font-size: 16px;
        font-weight: 700;

        text-align: center;
    }

    &.default {
        border-radius: 10px;
        border: solid 2px #537571;
        background: transparent;

        .button_text {
            color: #537571;
        }

        &:hover {
            border: solid 2px #46605d;
            background: #46605d;

            .button_text {
                color: #fff;
            }
        }
    }

    &.filled {
        border-radius: 10px;
        border: solid 2px #537571;
        background: #537571;

        .button_text {
            color: #fff;
        }

        &:hover {
            border: solid 2px #46605d;
            background: #46605d;

            .button_text {
                color: #fff;
            }
        }
    }

    &.white {
        border-radius: 10px;
        border: solid 2px #fff;
        background: transparent;

        .button_text {
            color: #fff;
        }

        &:hover {
            border: solid 2px #fff;
            background: #fff;

            .button_text {
                color: #46605d;
            }
        }
    }

    &:disabled {
        border-radius: 10px;
        border: solid 2px #dbdbdb;
        background: transparent;

        cursor: unset;

        .button_text {
            color: #dbdbdb;
        }

        &:hover {
            border: solid 2px #dbdbdb;
            background: transparent;

            .button_text {
                color: #dbdbdb;
            }
        }
    }
}

.active_tabs {
    width: 100%;
    height: 60px;
    margin: 80px 0 80px;

    border-bottom: solid 2px #537571;

    display: flex;

    .tab {
        height: 60px;
        padding: 0 30px;

        display: flex;
        align-items: center;
        justify-content: center;

        background: #ededed;

        cursor: pointer;
        transition: all 0.2s;

        .tab_text {
            font-size: 18px;
            font-weight: 500;
            color: #aeaeae;
        }

        &.tab_2 {
            width: calc(100% / 2);
        }

        &.tab_3 {
            width: calc(100% / 3);
        }

        &.tab_4 {
            width: calc(100% / 4);
        }

        &.active {
            background: #537571;

            .tab_text {
                color: #fff;
            }

            &:hover {
                background: #537571;

                .tab_text {
                    color: #fff;
                }
            }
        }

        &:hover {
            background: #46605d;

            .tab_text {
                color: #fff;
            }
        }
    }
}