.active_button {
    padding: 10px 30px;
    margin: 5px;

    transition: all 0.2s;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    .button_text {
        font-size: 16px;
        font-weight: 700;

        text-align: center;
    }

    &.default {
        border-radius: 10px;
        border: solid 2px #537571;
        background: transparent;

        .button_text {
            color: #537571;
        }

        &:hover {
            border: solid 2px #46605d;
            background: #46605d;

            .button_text {
                color: #fff;
            }
        }
    }

    &.filled {
        border-radius: 10px;
        border: solid 2px #537571;
        background: #537571;

        .button_text {
            color: #fff;
        }

        &:hover {
            border: solid 2px #46605d;
            background: #46605d;

            .button_text {
                color: #fff;
            }
        }
    }

    &.white {
        border-radius: 10px;
        border: solid 2px #fff;
        background: transparent;

        .button_text {
            color: #fff;
        }

        &:hover {
            border: solid 2px #fff;
            background: #fff;

            .button_text {
                color: #46605d;
            }
        }
    }

    &:disabled {
        border-radius: 10px;
        border: solid 2px #dbdbdb;
        background: transparent;

        cursor: unset;

        .button_text {
            color: #dbdbdb;
        }

        &:hover {
            border: solid 2px #dbdbdb;
            background: transparent;

            .button_text {
                color: #dbdbdb;
            }
        }
    }
}

.active_tabs {
    width: 100%;
    height: 60px;
    margin: 80px 0 80px;

    border-bottom: solid 2px #537571;

    display: flex;

    .tab {
        height: 60px;
        padding: 0 30px;

        display: flex;
        align-items: center;
        justify-content: center;

        background: #ededed;

        cursor: pointer;
        transition: all 0.2s;

        .tab_text {
            font-size: 18px;
            font-weight: 500;
            color: #aeaeae;
        }

        &.tab_2 {
            width: calc(100% / 2);
        }

        &.tab_3 {
            width: calc(100% / 3);
        }

        &.tab_4 {
            width: calc(100% / 4);
        }

        &.active {
            background: #537571;

            .tab_text {
                color: #fff;
            }

            &:hover {
                background: #537571;

                .tab_text {
                    color: #fff;
                }
            }
        }

        &:hover {
            background: #46605d;

            .tab_text {
                color: #fff;
            }
        }
    }
}

.pagination {
    height: 120px;
    margin: 20px 0 20px;

    display: flex;
    align-items: center;

    .pagination_inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        border-top: solid 2px #ededed;

        .pagi_button {
            width: auto;
            height: 40px;
            margin: 20px 0;
            padding: 0 20px;

            display: flex;
            align-items: center;
            gap: 30px;

            cursor: pointer;

            .button_text {
                font-size: 18px;
                font-weight: 700;

                color: #3c3c3c;

                text-align: center;
            }

            .button_text:after {
                display: block;
                content: '';
                border-bottom: solid 3px #537571;
                transform: scaleX(0);
                transition: transform 250ms ease-in-out;
            }


            .pagi_icon {
                width: 30px;
                height: 30px;
                color: #537571;
            }

            &.disabled {
                cursor: default;
                .button_text {
                    color: #ededed;
                }

                .pagi_icon {
                    width: 30px;
                    height: 30px;
                    color: #ededed;
                }
            }

            &:first-child {
                justify-content: start;
            }

            &:last-child {
                justify-content: end;
            }

            &:hover {
                &:first-child {
                    .button_text:after {
                        transform: scaleX(1);
                        transform-origin: 100% 50%;
                    }
                }

                &:last-child {
                    .button_text:after {
                        transform: scaleX(1);
                        transform-origin: 0% 50%;
                    }
                }
            }
        }
    }
}