#header_pc {
    width: 100%;
    height: 80px;

    background: #ffffff;
    border-bottom: solid 1px #ededed;

    position: fixed;

    .header_main {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .web_logo {
            width: 195px;
            height: 60px;
        }

        .navi_section {
            height: 80px;

            display: flex;
            align-items: center;
            justify-content: end;

            .navi {
                width: 200px;
                height: 80px;
                padding: 10px 0 10px;
                margin: 20px;

                display: flex;
                align-items: center;
                justify-content: center;

                transition: all 0.2s;

                .navi_text {
                    color: #3c3c3c;
                    font-size: 18px;
                    font-weight: 400;

                    &.active {
                        color: #537571;
                        font-weight: 700;
                    }
                }

                &:hover {
                    background: #537571;

                    .navi_text {
                        font-weight: 500;
                        color: #ededed;
                    }

                    & .header_sub {
                        display: block;
                    }
                }
            }
        }

        .menu_icon {
            display: none;   
        }
    }

    .header_sub {
        width: 100%;
        height: auto;

        background: rgba(255, 255, 255, 0.9);
        border-bottom: solid 2px #ededed;

        transition: all 0.2s;

        .header_sub_main {
            display: flex;
            align-items: center;
            flex-direction: column;

            .header_sub_top {
                width: 100%;
                padding: 10px 0;

                border-bottom: solid 2px #ededed;

                display: flex;
                justify-content: end;

                .header_sub_navi {
                    width: 200px;
                    margin: 0 20px;

                    /* border-left: solid 2px #ededed;
                    border-right: solid 2px #ededed; */

                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    a {
                        width: 100%;
                        height: 80px;

                        text-align: center;

                        display: flex;
                        align-items: center;

                        .navi {
                            width: 100%;
                            height: 80px;
                            line-height: 30px;

                            transition: all 0.2s;

                            .navi_text {
                                color: #3c3c3c;
                                font-size: 16px;
                                font-weight: 400;
                            }

                            &:hover {
                                background: #537571;

                                .navi_text {
                                    font-weight: 500;
                                    color: #ededed;
                                }
                            }
                        }
                    }
                }
            }

            .header_sub_bot {
                width: 100%;
                padding: 10px 0;

                display: flex;
                align-items: center;
                justify-content: end;
            }
        }

        &.header-on {
            visibility: visible;

            opacity: 1;
        }

        &.header-no {
            visibility: hidden;

            opacity: 0;
        }
    }
}