.request_form {
    width: 100%;
    margin: 40px 0;
    height: auto;
    display: flex;
    justify-content: center;

    form {
        width: 1000px;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;

        gap: 20px;

        .form_section {
            width: 1000px;

            border-top: solid 2px #537571;
            border-bottom: solid 2px #537571;

            display: flex;

            .input_name {
                font-size: 16px;
                font-weight: 500;

                color: #537571;
                background: #eaf1f1;

                display: flex;
                align-items: center;
            }

            .input_div {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .form_sub {
                display: flex;
                flex-direction: column;

                .form_sub_sub {
                    width: 100%;
                    display: flex;
                }
            }
        }

        .add_and_rm {
            width: 1000px;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .input_section {
            min-height: 40px;
            height: auto;

            .input_div {
                min-height: 40px;
                height: auto;

                input {
                    width: 100%;
                    height: 40px;
                    padding: 0 10px;

                    font-size: 16px;
                    font-weight: 500;

                    color: #3c3c3c;
                }

                input[type="radio"] {
                    width: 20px;
                    height: 20px;

                    cursor: pointer;
                }

                input[type="checkbox"] {
                    width: 20px;
                    height: 20px;

                    cursor: pointer;
                }

                input[type="file"] {
                    width: 100%;
                    height: auto;

                    cursor: pointer;
                }
            }
        }

        .textarea_section {
            height: auto;

            .input_div {
                textarea {
                    width: 100%;
                    height: 300px;
                    padding: 0 10px;

                    font-size: 16px;
                    font-weight: 500;

                    color: #3c3c3c;

                    resize: vertical;
                }
            }
        }

        .submit_btn {
            width: 200px;
            .button_text {
                font-size: 18px;
            }
        }
    }
}