@import "@css/font.css";
@import "@css/components/footer.css";
@import "@css/components/header.css";
@import "@css/components/buttons.css";
@import "@css/components/content_box.css";
@import "@css/components/inquiry_form.css";
@import "@css/components/request_form.css";

@import "@css/pages/introduce.css";
@import "@css/pages/iso_info.css";
@import "@css/pages/enterprise_info.css";
@import "@css/pages/product_info.css";
@import "@css/pages/business_info.css";
@import "@css/pages/contact_us.css";

@import "@css/screen/screen.css";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-padding-top: 80px;
  scroll-behavior: smooth;

  @media screen and (max-width: 1280px) {
    scroll-padding-top: 80px;
  }
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.inner_main {
  width: 1280px;
  margin: 0 auto;

  @media screen and (max-width: 1280px) {
    width: 100%;
  }
}

input,
textarea {
  outline: none;
  border: none;
}

input::placeholder,
textarea::placeholder {
  color: #cccccc;
  font-weight: 500;
}

.dp-block {
  display: block;
}

.dp-none {
  display: none;
}