@media screen and (max-width: 1360px) {
    .content_box {
        .content_box_title {
            height: 100px;

            .title_div {
                width: 70%;
                height: 100px;

                .title_text {
                    height: 100px;
                    line-height: 100px;

                    font-size: 30px;
                }
            }
        }

        .content_box_content {
            padding: 40px 20px;
        }

        .content_box_contents {

            .contents_div {
                .content_div {
                    padding: 10px 20px;
                }
            }
        }
    }
}