@media screen and (max-width: 1360px) {
    #header_pc {
        height: 60px;

        .header_main {
            .header_navi_section {
                .navi_section {
                    display: none;
                }

                .hamburger {
                    width: 60px;
                    height: 60px;

                    background: #537571;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    cursor: pointer;

                    transition: all 0.2s;

                    .menu_icon {
                        width: 30px;
                        height: 30px;

                        color: #fff;

                        transition: transform 0.2s;
                        transform: rotate(0deg);
                    }

                    &:hover {
                        background: #46605d;
                    }

                    &:active {
                        .menu_icon {
                            transform: rotate(360deg);
                        }
                    }
                }
            }
        }

        .header_sub {
            height: calc(100vh - 60px);

            .header_sub_main {
                width: 100%;
                padding: 20px;
                justify-content: center;

                .header_sub_top {
                    width: 100%;
                    gap: 40px;

                    .header_sub_navi {
                        .navi {
                            width: 200px;
                            .navi_title {
                                font-size: 20px;
                            }

                            .navi_text {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}