@media screen and (max-width: 1280px) {
    #header_pc {
        height: 60px;

        .header_main {
            a {
                width: 195px;
                height: 60px;
                margin-left: 20px;
                .web_logo {
                    width: 195px;
                    height: 60px;
                }
            }

            .header_navi_section {
                .navi_section {
                    height: 60px;
                    margin: 0 10px;

                    .navi {
                        height: 60px;
                        margin: 10px;
                    }
                }

                .hamburger {
                    width: 60px;
                    height: 60px;

                    .menu_icon {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }

        .header_sub {
            height: calc(100vh - 60px);

            .header_sub_main {

                .header_sub_top {
                    gap: 40px;

                    .header_sub_navi {
                        .navi {
                            .navi_title {
                                font-size: 20px;
                            }

                            .navi_text {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}