@media screen and (max-width: 1000px) {
    .active_button {
        padding: 10px 20px;

        .button_text {
            font-size: 14px;
        }
    }

    .active_tabs {
        height: 40px;

        .tab {
            height: 40px;
            padding: 0 20px;

            .tab_text {
                font-size: 12px;
                text-align: center;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .pagination {
        .pagination_inner {
            display: block;

            .pagi_button {
                .button_text {
                    width: calc(100vw - 80px);

                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &:first-child {
                    .button_text {
                        text-align: start;
                    }
                }

                &:last-child {
                    .button_text {
                        text-align: end;
                    }
                }
            }
        }
    }
}