@media screen and (max-width: 1000px) {
    #footer_pc {
        height: auto;
        padding: 20px 20px 20px;

        .footer_main {
            gap: 20px;

            .top_section {
                height: auto;

                .company_title {
                    font-size: 40px;
                }

                .contact_section {
                    .ctr_mb {
                        display: none;
                    }
                }
            }

            @media screen and (max-width: 360px) {
                .top_section {
                    justify-content: end;

                    .company_title {
                        display: none;
                    }
                }
            }

            .bot_section {
                height: auto;
                flex-direction: column;
                gap: 20px;

                .info_section {
                    width: 100%;

                    .info_content {
                        display: grid;

                        span {
                            padding: 0;
                            font-size: 14px;
                        }
                    }
                }

                .copy_section {
                    .terms_section {
                        .terms {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}