@media screen and (max-width: 1000px) {
    #header_pc {
        height: 40px;

        .header_main {
            a {
                width: 130px;
                height: 40px;
                margin-left: 20px;

                .web_logo {
                    width: 130px;
                    height: 40px;
                }
            }

            .navi_section {
                display: none;
            }

            .menu_icon {
                width: 24px;
                height: 24px;
                margin-right: 20px;

                color: #3c3c3c;

                display: block;
            }
        }

        .header_sub {
            width: 100%;
            height: calc(100vh - 40px);

            background: rgba(255, 255, 255, 0.97);

            position: fixed;

            .header_sub_main {
                .header_sub_top {
                    height: calc(100vh - 40px - 78px);

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: start;
                    gap: 30px;

                    overflow-y: auto;
                    overflow-x: hidden;

                    .header_sub_navi {
                        width: 180px;
                        margin: 0 10px;
                    }
                }
            }

            &.header-on {
                right: 0;
            }

            &.header-no {
                right: -100vw;
            }
        }
    }
}