@media screen and (max-width: 1000px) {
    .inquiry_form {
        form {
            width: calc(100vw - 10px);

            .form_section {
                width: calc(100vw - 10px);

                .input_name {
                    width: 60px;

                    font-size: 14px;
                }

                .input_div {
                    width: calc(100% - 60px);
                }
            }

            .input_section {
                height: 40px;

                .input_div {
                    input {
                        height: 30px;
                        font-size: 14px;
                    }
                }
            }

            .textarea_section {
                .input_div {
                    textarea {
                        height: 160px;
                        font-size: 14px;
                    }
                }
            }

            .submit_btn {
                width: 140px;

                .button_text {
                    font-size: 14px;
                }
            }
        }
    }
}